<% conditions = params[:assigned_to].present? %>
<div class="side-search-option singleton checkboxes_only" data-id="side_search_assignment" data-type="Standard" data-value="<%= params[:assigned_to] %>">
  <%= render "search/toggler" %>
  <div class="title"><%= t('.title') %></div>
  <div class="fields_active">
    <% @organization.leaders.each do |leader| %>

      <% if params[:include_archived] %>
        <% count = leader.assigned_contacts_limit_org_with_archived(@organization).collect(&:id).count %>
      <% else %>
        <% count = leader.assigned_contacts_limit_org(@organization).collect(&:id).count %>
      <% end %>
      <% if conditions && params[:assigned_to].include?(leader.id.to_s) %>
        <div class="option checkbox">
          <%= check_box_tag "assigned_to[]", leader.id, true, id: "search_assigned_to_#{leader.id}", class: "search_assigned_to_checkbox" %>
          <div class="sidebar-label"><%= leader.name %></div>
          <span class="info">(<span class="count"><%= count %></span>)</span>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="fields">
    <% @organization.leaders.each do |leader| %>

      <% if params[:include_archived] %>
        <% count = leader.assigned_contacts_limit_org_with_archived(@organization).collect(&:id).count %>
      <% else %>
        <% count = leader.assigned_contacts_limit_org(@organization).collect(&:id).count %>
      <% end %>
      <% unless conditions && params[:assigned_to].include?(leader.id.to_s) %>
        <div class="option checkbox">
          <%= check_box_tag "assigned_to[]", leader.id, false, id: "search_assigned_to_#{leader.id}", class: "search_assigned_to_checkbox" %>
          <div class="sidebar-label"><%= leader.name %></div>
          <span class="info">(<span class="count"><%= count %></span>)</span>
        </div>
      <% end %>
    <% end %>
    <%= render "search/actions", clear: conditions %>
  </div>
</div>