<% conditions = params[:survey_scope].present? %>
<div class="side-search-option">
  <%= render "search/toggler", active: conditions %>
  <div class="title"><%= t('.title') %></div>
  <div class="fields <%= 'active' if conditions%>">
    <% current_organization.surveys.order(:title).each do |survey| %>
      <div class="option checkbox">
        <%= check_box_tag "survey_scope[]", survey.id, conditions && params[:survey_scope].include?(survey.id.to_s), id: "search_survey_#{survey.id}", class: "search_survey_checkbox" %>
        <div class="sidebar-label wide"><%= survey.title %></div>
      </div>
    <% end %>
  </div>
</div>