<% conditions = params[:label].present? %>
<div class="side-search-option">
  <%= render "search/toggler", active: conditions %>
  <div class="title"><%= t('.title') %></div>
  <div class="fields <%= 'active' if conditions%>">
		<% current_organization.label_set.each do |label| %>

      <% if params[:include_archived_labels] %>
        <% count = label.label_contacts_from_org_with_archived(@organization).collect(&:id).count %>
      <% else %>
        <% count = label.label_contacts_from_org(@organization).collect(&:id).count %>
      <% end %>

      <div class="option checkbox">
        <%= check_box_tag "label[]", label.id, conditions && params[:label].include?(label.id.to_s), id: "search_label_#{label.id}", class: "search_label_checkbox" %>
        <div class="sidebar-label"><%= label.name %></div>
        <span class="info">(<span class="count"><%= count %></span>)</span>
      </div>
		<% end %>

  </div>
</div>