<div id="search-sidebar">
  <%= form_tag params, method: :get, id: 'advanced_search_form', autocomplete: "off" do %>
    <%= hidden_field_tag :advanced_search, 1 %>

    <!-- Search Any -->
    <div id="side-search-any" class="category">
      <%= text_field_tag :search_any, params[:search_any], class: "side-search-field", placeholder: t('.search_any_placeholder') %>
    	<button class="action_gray" id="search_any_button">
    	  <%= image_tag "icon-search.png" %>
    	</button>
    </div>

    <!-- Active Filters -->

    <div class="side-search-links">
      <div class="pull-right">
        <%= link_to("Reset All", all_contacts_path, id: 'search_people_filters_reset_all_button') %>
      </div>
      <% with_save_search = (params[:do_search] == "1" || params[:search] == "1" || params[:advanced_search] == "1") && @people.length > 0 && !@saved_contact_search.full_path.present? %>
      <div class="pull-left">
        <% if with_save_search %>
          <%= link_to("Save this Search", "", id: 'search_people_filters_save_search_button') %>
        <% end %>
      </div>
    </div>
    <!-- Available Filters -->
    <%- active = nil %>
    <%- active ||= params[:assigned_to].present? %>
    <%- active ||= params[:status].present? %>
    <%- active ||= params[:interaction_type].present? %>
    <%- active ||= params[:permission].present? %>
    <%- active ||= params[:label].present? %>
    <%- active ||= params[:group].present? %>
    <%- active ||= params[:gender].present? %>
    <%- active ||= params[:faculty].present? %>
    <div class="side-search <%= 'active' if active %>" id="search_standard_filters">
      <div class="side-search-title"><%= t('.standard_title') %></div>
      <div class="side-search-options">
        <%= render "search/assignments" %>
        <%= render "search/status" %>
        <%= render "search/interactions" %>
        <%= render "search/permissions" %>
        <%= render "search/labels" %>
        <%= render "search/groups" %>
        <%= render "search/gender" %>
        <%= render "search/faculty" %>
      </div>
      <div class="side-search-toggler">
        <span class="visible">Hide Standard Filters</span>
        <span class="invisible">Show Standard Filters</span>
      </div>
    </div>




  <% end %>
</div>