<div id="search-sidebar">
  <%= form_tag params, method: :get, id: 'advanced_search_form', autocomplete: "off" do %>
    <%= hidden_field_tag :advanced_search, 1 %>

    <!-- Search Any -->
    <div id="side-search-any" class="category">
      <%= text_field_tag :search_any, params[:search_any], class: "side-search-field", placeholder: t('.search_any_placeholder') %>
    	<button class="action_gray" id="search_any_button">
    	  <%= image_tag "icon-search.png" %>
    	</button>
    </div>

    <!-- Active Filters -->
    <%= render "search/triggers" %>

    <!-- Available Filters -->
    <div id="side-search-options">
      <%= render "search/assignments" %>
      <%= render "search/status" %>
      <%= render "search/interactions" %>
      <%= render "search/permissions" %>
      <%= render "search/labels" %>
    </div>



  <% end %>
</div>