<div class="side-search-survey">
  <div class="survey-title"><%= survey.title %></div>
  <div class="side-search-survey-questions">
    <% if survey.questions.count > 0 %>
      <% survey.questions.each do |question| %>
        <% begin %>
          <% answer = params[:survey_answer][survey.id.to_s][question.id.to_s] %>
        <% rescue %>
          <% answer = "" %>
        <% end %>
        <% begin %>
          <% selected_option = params[:survey_answer_option][survey.id.to_s][question.id.to_s] %>
        <% rescue %>
          <% if question.kind == "TextField" %>
            <% selected_option = Element::TEXTFIELD_MATCH[4][1] %>
          <% elsif question.kind == "ChoiceField" %>
            <% selected_option = Element::CHOICEFILED_MATCH[0][1] %>
          <% elsif question.kind == "DateField" %>
            <% selected_option = Element::DATEFIELD_MATCH[0][1] %>
          <% end %>
        <% end %>

        <% if question.kind == "TextField" %>
          <% selected_title = Element::TEXTFIELD_MATCH.map{|a| a[0] if a.include?(selected_option)}.compact!.try(:first) %>
        <% elsif question.kind == "ChoiceField" %>
          <% selected_title = Element::CHOICEFILED_MATCH.map{|a| a[0] if a.include?(selected_option)}.compact!.try(:first) %>
        <% elsif question.kind == "DateField" %>
          <% selected_title = Element::DATEFIELD_MATCH.map{|a| a[0] if a.include?(selected_option)}.compact!.try(:first) %>
        <% end %>

        <% conditions = answer.present? %>
        <div class="side-search-option <%= 'active' if conditions %>" data-option-title="<%= selected_title %>" data-type="<%= question.kind %>" data-value="<%= answer %>" data-option="<%= selected_option %>">
          <%= render "search/toggler", active: conditions %>
          <div class="title"><%= question.label %></div>
          <div class="fields <%= 'active' if conditions %>">

            <% if question.kind == "DateField" %>
              <% is_active = (answer.present? && answer["start"].present?) %>
            <% else %>
              <% is_active = (answer.present? || ['is_blank','is_not_blank'].include?(selected_option)) %>
            <% end %>

            <% if question.kind == "TextField" %>
              <div class="options">
                <div class="selected">
                  <%= selected_title %>
                </div>
                <div class="choices">
                  <% Element::TEXTFIELD_MATCH.each do |option| %>
                    <div class="text_option <%= option[1] %>">
                      <% disabled = answer.strip == "" && ['contains','is_exactly','does_not_contain'].include?(option[1]) %>
                      <%= radio_button_tag "survey_answer_option[#{survey.id}][#{question.id}]", option[1], selected_option == option[1], id: "answer_#{survey.id}_#{question.id}_textbox_option", disabled: disabled %>
                      <%= option[0].titleize %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="field text_field">
                <%= text_field_tag "survey_answer[#{survey.id}][#{question.id}]", answer,
                    autocomplete: "off", class: "textfield", id: "answer_#{survey.id}_#{question.id}_textbox_answer" %>
              </div>
              <%= render "search/actions", clear: conditions %>
            <% elsif question.kind == "ChoiceField" %>
              <div class="options">
                <div class="selected">
                  <%= selected_title %>
                </div>
                <div class="choices">
                  <% Element::CHOICEFILED_MATCH.each do |option| %>
                    <div class="text_option <%= option[1] %>">
                      <%= radio_button_tag "survey_answer_option[#{survey.id}][#{question.id}]", option[1], selected_option == option[1], id: "answer_#{survey.id}_#{question.id}_textbox_option" %>
                      <%= option[0].titleize %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="field choice_field">
                <% question.content.split(/\r\n|\n/).each do |option| %>
                  <div class="option checkbox choice_option">
                    <%= check_box_tag "survey_answer[#{survey.id}][#{question.id}][]", option, answer.present? && answer.include?(option), class: "answer_#{survey.id}_#{question.id}_checkbox" %>
                    <div class="sidebar-label"><%= option %></div>
                  </div>
                <% end %>
                <div class="option checkbox choice_option">
                  <%= check_box_tag "survey_answer[#{survey.id}][#{question.id}][]", "no_response", answer.present? && answer.include?("no_response"), class: "answer_#{survey.id}_#{question.id}_checkbox" %>
                  <div class="sidebar-label">No Response</div>
                </div>
              </div>
              <%= render "search/actions", clear: conditions %>
            <% elsif question.kind == "DateField" %>
              <div class="options">
                <div class="selected">
                  <%= selected_title %>
                </div>
                <div class="choices">
                  <% Element::DATEFIELD_MATCH.each do |option| %>
                    <div class="text_option <%= option[1] %>">
                      <%= radio_button_tag "survey_answer_option[#{survey.id}][#{question.id}]", option[1], selected_option == option[1], id: "answer_#{survey.id}_#{question.id}_textbox_option" %>
                      <%= option[0].titleize %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="field date_field">
              </div>
              <%= render "search/actions", clear: conditions %>
            <% else %>
              <%= question.kind %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>